.container-fluid{
    background-color: white;
    position: absolute;
    top: 10px;


}

.texto{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:150px;
    width: 100%;
    right: 1000px;

}

.caja{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top:150px;
    width: 100%;
    left: 1000px;

}